.page {
  display: flex;
  width: 100%;
  max-height: 100vh;

  &__inside {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__title{
    width: 100%;
    background-color: #17161b;
    font-size: 36px;
    color: #f6f6f7;
    font-weight: 700;
    height: 80px;
    border-bottom: 2px #2c2f3b solid;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
  }

  &__size{
    font-size: 36px;
    color: #f6f6f7;
    font-weight: 700;
  }

  &__icon{
   svg{
     width: 40px !important;
     height: 40px !important;
   }
  }

  &__content{
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }
}
