.profile {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__top {
    display: flex;
    gap: 20px;
    width: 100%;
  }
}

.animation{
  animation: anim .7s ease-in-out;
}

@keyframes anim {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}
