@import "src/styles/functions.scss";

.section {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__noPadding {
    padding: 20px 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }

  &__sep {
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      #fff,
      rgba(255, 255, 255, 0.44) 30%,
      #ffffff10
    );
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: colorFromRgb(secondary-main);
  }

  &__inside {
    margin-top: 20px;
  }
}
