.userPage {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
  }
}
